.ipynb_checkpoints
/DataQA/Plots/*.pdf
/DataQA/Data-Raw/*.npz
/DataQA/Data-Split/*.npz
/CNN/Plots/*.pdf
/CNN/Data/*.npz
/CNN/runs/*
CNN/Ray_Results/*
CNN/Templates/Ray_Results/*
CNN/Templates/ml_template.tar.xz
*.pyc
CNN/Data/.data.lock
*.log
